<a href="https://colab.research.google.com/github/kikiru328/Bone_Detection/blob/main/Lv1/09_Lv1_%EC%A0%9C%EC%9D%BC_%EC%9E%91%EC%9D%80_%EC%88%98_%EC%A0%9C%EA%B1%B0%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문제 설명

정수를 저장한 배열, arr 에서 가장 작은 수를 제거한 배열을 리턴하는 함수, solution을 완성해주세요. 단, 리턴하려는 배열이 빈 배열인 경우엔 배열에 -1을 채워 리턴하세요. 예를들어 arr이 [4,3,2,1]인 경우는 [4,3,2]를 리턴 하고, [10]면 [-1]을 리턴 합니다.


- 제한조건
    - arr은 길이 1 이상인 배열입니다.
    - 인덱스 i, j에 대해 i ≠ j이면 arr[i] ≠ arr[j] 입니다.

- 예시

```
arr	      return
[4,3,2,1]	[4,3,2]
[10]	     [-1]
```

Solution

In [ ]:
def solution(arr):
    if len(arr) > 1:
        arr.remove(min(arr))
        return arr
    else:
        return [-1]

Solve

1. 행렬(리스트)에서 원소제거 remove(value)
2. func. remove